@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  @apply m-0 flex justify-center min-w-[320px] min-h-[100vh]
}

h1 {
  @apply text-5xl leading-tight
}

button {

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-sample {
  background-color: #747bff;
}


.btn-sam {
  @apply border rounded-full  px-[0.6em] text-yellow-400
  py-[1.2em] text-[1em] font-medium cursor-pointer bg-[#1a1a1a]
  hover:bg-[#646cff]
}

.out {
  @apply border-2 border-indigo-600;
}